<div class="product-edit-form">
 
  <form [formGroup]="productFormGroup" (submit)="onSubmit(productFormGroup.value)" fxLayout="column">

    <mat-form-field appearance="fill" >
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="title" required>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="description" required>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let item of categories$ | async" [value]="item.name">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" required>
    </mat-form-field>

    <ng-container *ngIf="productImageUrl$ | async as image; else selectImage">
      <ng-container [ngTemplateOutlet]="productImageLoaded" [ngTemplateOutletContext]="{$implicit: image}"></ng-container>
    </ng-container>

    <button mat-raised-button type="submit" fxFlex color="primary" [disabled]="productFormGroup.invalid">Submit</button>
    
  </form>

  <ng-template #productImageLoaded let-image>    
    Image
    <img [src]="image" class="product-image">
    <button (click)="onProductImageClear()" type="button"  style="margin-bottom: 25px"><mat-icon fontIcon="clear" color="accent"></mat-icon></button>
  </ng-template>
  
  <ng-template #selectImage>
    <p>Select image</p>
    <input type="file" (change)="onProductImageChanged($event)">
  </ng-template>
  
</div>
